| Stock Screener | Tool |
| ----------- | ----------- |

In [ ]:
import pandas as pd
import numpy as np
import pandas_datareader as web
import matplotlib.pyplot as plt
import datetime as dt
import math

# yahoo finance sometimes changes things up with the api
# stay up to date or current, don't be alarmed if an error
import yfinance as yf
from yahoo_fin import stock_info as si 
import requests

# import api connection libs
import os
import iexfinance

# IMPORTANT! the package has been updated.
# import the get_historical_data() function as follows
from iexfinance.stocks import get_historical_data

# import conifg file
from a_config import IEX_CLOUD_API_KEY

# verify pandas version
print(pd.__version__)

In [5]:
# set start and end dates
start_date = '2022-04-04'
end_date = dt.datetime.now().strftime('%Y-%m-%d') # IMPORTANT - converts time to readable format

In [ ]:
# yahoo finance api
tsla = yf.Ticker('TSLA')
tesla_info = tsla.info
print(tesla_info)

In [6]:
# yahoo finance -> get historical data
tsla_hist= tsla.history(start=start_date, end=end_date)

tsla_hist.head(5)

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2022-04-04 00:00:00-04:00,363.126678,383.303345,357.510010,381.816681,82035900,0.0,0.0
2022-04-05 00:00:00-04:00,378.766663,384.290009,362.433319,363.753326,80075100,0.0,0.0
2022-04-06 00:00:00-04:00,357.823334,359.666656,342.566681,348.586670,89348400,0.0,0.0
2022-04-07 00:00:00-04:00,350.796661,358.863342,340.513336,352.420013,79447200,0.0,0.0
2022-04-08 00:00:00-04:00,347.736664,349.480011,340.813324,341.829987,55013700,0.0,0.0

In [ ]:
# replicate above for NASDAQ

In [33]:
# get nasdaq data
nasdaq = yf.Ticker('^IXIC')
nasdaq_info = nasdaq.info
# print(nasdaq_info)

nasdaq_hist = nasdaq.history(start=start_date, end=end_date) # more precise but not flexible

nasdaq_hist.tail(3)

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2022-12-28 00:00:00-05:00,10339.200195,10414.820312,10207.469727,10213.290039,3842970000,0.0,0.0
2022-12-29 00:00:00-05:00,10321.459961,10502.080078,10301.059570,10478.089844,4154100000,0.0,0.0
2022-12-30 00:00:00-05:00,10368.370117,10468.309570,10324.700195,10466.480469,3959030000,0.0,0.0

In [34]:
# calculate percent change
nasdaq_df['%CHG'] = nasdaq_df['Close'].pct_change()
# calculate the return
nasdaq_return = (nasdaq_df['%CHG']+1).cumprod()[-1]# take the last value [-1] which is the final return

nasdaq_df.tail()

,Open,High,Low,Close,Volume,Dividends,Stock Splits,%CHG
Date,,,,,,,,
2022-12-23 00:00:00-05:00,10437.750000,10514.759766,10361.820312,10497.860352,3544680000,0.0,0.0,0.002075
2022-12-27 00:00:00-05:00,10462.190430,10472.320312,10340.730469,10353.230469,3827290000,0.0,0.0,-0.013777
2022-12-28 00:00:00-05:00,10339.200195,10414.820312,10207.469727,10213.290039,3842970000,0.0,0.0,-0.013517
2022-12-29 00:00:00-05:00,10321.459961,10502.080078,10301.059570,10478.089844,4154100000,0.0,0.0,0.025927
2022-12-30 00:00:00-05:00,10368.370117,10468.309570,10324.700195,10466.480469,3959030000,0.0,0.0,-0.001108

In [ ]:
symbol = 'TSLA'
# get ticker historical data
hist_data = get_historical_data(symbol, 
    start=start_date, 
    end=end_date, 
    output_format='pandas',
    token=IEX_CLOUD_API_KEY)

In [ ]:
# get a list of all the nasdaq stocks
tickers = si.tickers_nasdaq()

tickers[:5]
sm_tickers = tickers[50:60]

sm_tickers

In [26]:
# create an empty list
ticker_data_list = []

for ticker in sm_tickers:
    try:
        hist_data = get_historical_data(ticker, 
        start=start_date, 
        end=end_date, 
        output_format='pandas',
        token=IEX_CLOUD_API_KEY)
        # add data to the list
        ticker_data_list.append(hist_data)
    except Exception as e:
        print(f"Error processing ticker {ticker}: {e}")
        continue

In [29]:
# concatenate the data into a single dataframe
final_df = pd.concat(ticker_data_list, axis=1)

# final_df.head(4)
final_df.tail(4)

,close,high,low,open,symbol,volume,id,key,subkey,updated,...,uVolume,fOpen,fClose,fHigh,fLow,fVolume,label,change,changePercent,priceDate
2022-12-28,8.1,8.21,7.72,7.72,ACET,523211,HISTORICAL_PRICES,ACET,,1672281205000,...,157117,78.36,77.38,79.73,77.06,157117,"Dec 28, 22",-1.84,-0.0232,2022-12-28
2022-12-29,8.55,8.76,8,8.17,ACET,636677,HISTORICAL_PRICES,ACET,,1672365626000,...,211716,78.76,79.37,80.21,78.67,211716,"Dec 29, 22",1.99,0.0257,2022-12-29
2022-12-30,8.94,8.94,8.4,8.45,ACET,446608,HISTORICAL_PRICES,ACET,,1672468409000,...,230069,78.05,79.36,79.49,77,230069,"Dec 30, 22",-0.01,-0.0001,2022-12-30
2023-01-03,8.57,9.25,8.4,9.03,ACET,464158,HISTORICAL_PRICES,ACET,,1672799429000,...,375566,80.68,78.2,81.28,76.97,375566,"Jan 3, 23",-1.16,-0.0146,2023-01-03

In [ ]:
# create a multi-index

In [20]:
# # create an empty dictionary?
# ticker_data = {}
# for ticker in sm_tickers:
#     try:
#         ticker_data[ticker] = get_historical_data(ticker, 
#         start=start_date, 
#         end=end_date, 
#         output_format='pandas',
#         token=IEX_CLOUD_API_KEY)
#     except Exception as e:
#         print(f"Error processing ticker {ticker}: {e}")
#         continue

In [ ]:
pd.DataFrame.from_dict(ticker_data, orient='columns')

In [24]:
hist_data_df = pd.DataFrame.from_dict(ticker_data)

hist_data_df.head(4)

ValueError: If using all scalar values, you must pass an index

In [2]:
# set iex cloud api key
# print(IEX_CLOUD_API_KEY)

# create the client object
client = Client(api_key=IEX_CLOUD_API_KEY)

# use the ticker function to request ticker data for a symbol

sk_fde8adc0215b402b9f770f220a412635

In [2]:
# get NASDAQ composite index data
nasdaq = yf.Ticker("^IXIC")
nasdaq_info = nasdaq.info
nasdaq_close = nasdaq_info['regularMarketPrice']

In [3]:
# get a list of all the nasdaq stocks
tickers = si.tickers_nasdaq()

tickers[:5]
# sm_tickers = tickers[:25]

['AACG', 'AACI', 'AACIU', 'AACIW', 'AADI']

In [22]:
nasdaq_close

10386.984

In [4]:
# small tickers list - TESTING
sm_tickers = ['TSLA', 'PLTR', 'NOW']

In [5]:
# create an empty list to append later
return_list = []
# tsla = yf.Ticker('TSLA')
# tesla_info = tsla.info
# print(tesla_info)

# for ticker in sm_tickers:
#     ticker = yf.Ticker('{ticker}')
#     nasdaq_df = ticker.history(period='6mo')
#     # nasdaq_df.to_csv(f'stock_data/{ticker}.csv')
#     # calculate %CHG
#     nasdaq_df['Pct CHG'] = nasdaq_df['Close'].pct_change()
#     # take the last value [-1]
#     stock_return = (nasdaq_df['Pct CHG']+1).cumprod()[-1]

#     # compare stock to nasdaq
#     returns_compared = round((stock_return / nasdaq_close), 2)
#     return_list.append(returns_compared)

# print(return_list)

{TICKER}: No data found, symbol may be delisted

IndexError: index -1 is out of bounds for axis 0 with size 0