In [9]:
import numpy as np
import pandas as pd
import pandas_datareader as pdr 
import matplotlib.pyplot as plt

In [7]:
# Yahoo finance API download
ticker = 'pltr'
stock_data = pdr.get_data_yahoo(ticker)

stock_data

              High    Low    Open  Close     Volume  Adj Close
Date
2020-09-30  11.410  9.110  10.000   9.50  338584400       9.50
2020-10-01  10.100  9.230   9.690   9.46  124297600       9.46
2020-10-02   9.280  8.940   9.060   9.20   55018300       9.20
2020-10-05   9.490  8.920   9.430   9.03   36316900       9.03
2020-10-06  10.180  8.900   9.040   9.90   90864000       9.90
...            ...    ...     ...    ...        ...        ...
2022-12-01   7.880  7.470   7.510   7.86   34424400       7.86
2022-12-02   7.760  7.500   7.615   7.66   18740700       7.66
2022-12-05   7.695  7.105   7.620   7.19   32158200       7.19
2022-12-06   7.195  6.880   7.190   6.99   32868100       6.99
2022-12-07   7.350  7.035   7.080   7.07   28252943       7.07

[552 rows x 6 columns]

In [10]:
# Add day counter
day = np.arange(1, len(stock_data) + 1)
stock_data['day'] = day

stock_data

              High    Low    Open  Close     Volume  Adj Close  day
Date
2020-09-30  11.410  9.110  10.000   9.50  338584400       9.50    1
2020-10-01  10.100  9.230   9.690   9.46  124297600       9.46    2
2020-10-02   9.280  8.940   9.060   9.20   55018300       9.20    3
2020-10-05   9.490  8.920   9.430   9.03   36316900       9.03    4
2020-10-06  10.180  8.900   9.040   9.90   90864000       9.90    5
...            ...    ...     ...    ...        ...        ...  ...
2022-12-01   7.880  7.470   7.510   7.86   34424400       7.86  548
2022-12-02   7.760  7.500   7.615   7.66   18740700       7.66  549
2022-12-05   7.695  7.105   7.620   7.19   32158200       7.19  550
2022-12-06   7.195  6.880   7.190   6.99   32868100       6.99  551
2022-12-07   7.350  7.035   7.080   7.07   28252943       7.07  552

[552 rows x 7 columns]

In [ ]:
# Drop not needed columns
stock_data.drop(columns=['Adj Close', 'Volume'], inplace=True)

stock_data.head(3)

In [14]:
# Set column order
stock_data = stock_data[['day', 'Open', 'High', 'Low', 'Close']]

stock_data.head(5)

            day   Open   High   Low  Close
Date
2020-09-30    1  10.00  11.41  9.11   9.50
2020-10-01    2   9.69  10.10  9.23   9.46
2020-10-02    3   9.06   9.28  8.94   9.20
2020-10-05    4   9.43   9.49  8.92   9.03
2020-10-06    5   9.04  10.18  8.90   9.90

In [15]:
# Look at the info
stock_data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 552 entries, 2020-09-30 to 2022-12-07
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   day     552 non-null    int64
 1   Open    552 non-null    float64
 2   High    552 non-null    float64
 3   Low     552 non-null    float64
 4   Close   552 non-null    float64
dtypes: float64(4), int64(1)
memory usage: 25.9 KB

In [17]:
# Add moving averages to the data frame
"""Fast MA"""
stock_data['9-day'] = stock_data['Close'].rolling(9).mean() # You can do other math functions here not just rolling means

"""Slow MA"""
stock_data['21-day'] = stock_data['Close'].rolling(21).mean()

stock_data

/var/folders/zm/3chcg6cn3mg3klwn5_22__780000gn/T/ipykernel_32572/3324785943.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  stock_data['9-day'] = stock_data['Close'].rolling(9).mean() # You can do other math functions here not just rolling means
/var/folders/zm/3chcg6cn3mg3klwn5_22__780000gn/T/ipykernel_32572/3324785943.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  stock_data['21-day'] = stock_data['Close'].rolling(21).mean()

            day    Open    High    Low  Close     9-day    21-day
Date
2020-09-30    1  10.000  11.410  9.110   9.50       NaN       NaN
2020-10-01    2   9.690  10.100  9.230   9.46       NaN       NaN
2020-10-02    3   9.060   9.280  8.940   9.20       NaN       NaN
2020-10-05    4   9.430   9.490  8.920   9.03       NaN       NaN
2020-10-06    5   9.040  10.180  8.900   9.90       NaN       NaN
...         ...     ...     ...    ...    ...       ...       ...
2022-12-01  548   7.510   7.880  7.470   7.86  7.338889  7.602857
2022-12-02  549   7.615   7.760  7.500   7.66  7.368889  7.576190
2022-12-05  550   7.620   7.695  7.105   7.19  7.368889  7.533810
2022-12-06  551   7.190   7.195  6.880   6.99  7.343333  7.489048
2022-12-07  552   7.080   7.350  7.035   7.07  7.310000  7.491429

[552 rows x 7 columns]

In [21]:
# Look at more recent stock prices
stock_data[19:25]

            day   Open    High    Low  Close      9-day    21-day
Date
2020-10-27   20  10.00  11.040   9.92  10.95   9.747778       NaN
2020-10-28   21  10.66  10.985  10.10  10.85   9.852222  9.729524
2020-10-29   22  10.90  11.100  10.56  10.75   9.967778  9.789048
2020-10-30   23  10.61  10.680   9.85  10.13  10.030000  9.820952
2020-11-02   24  10.23  10.570  10.23  10.54  10.171111  9.884762
2020-11-03   25  10.57  10.940  10.44  10.50  10.315556  9.954762

In [22]:
# Fix look ahead unrealistic
# Roll forward by one day using shift
stock_data['9-day'] = stock_data['Close'].rolling(9).mean().shift() # IMPORTANT

"""Slow MA"""
stock_data['21-day'] = stock_data['Close'].rolling(21).mean().shift() # IMPORTANT - shift() method

stock_data

/var/folders/zm/3chcg6cn3mg3klwn5_22__780000gn/T/ipykernel_32572/2514138481.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  stock_data['9-day'] = stock_data['Close'].rolling(9).mean().shift() # IMPORTANT
/var/folders/zm/3chcg6cn3mg3klwn5_22__780000gn/T/ipykernel_32572/2514138481.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  stock_data['21-day'] = stock_data['Close'].rolling(21).mean().shift() # IMPORTANT - shift() method

In [ ]:
stock_data

In [ ]:
# Add a signal column

In [ ]:
# Calculate an instantaneous returns/systems returns